@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;0,900;1,300;1,600&display=swap');

* {
    font-family: 'Source Sans Pro', sans-serif;
    padding: 0px;
    margin: 0px;
    list-style: none;
    text-decoration: none;
}

/* IMAGES CONTAINER */
.sec_image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    /**/
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.26);
    color: white;
    /**/
}
    /* IMAGES ITENS */
    #first_image {
    background: grey url(images/paralax-fadded.jpg) no-repeat center fixed;
    background-size: cover; 
    }
    #second_image {
    background: grey url(images/wildlife-mammals-fadded.jpg) no-repeat fixed;
    background-size: cover; 
    }
    #third_image {
    background: grey url(images/moraine-lake-fadded.jpg) center no-repeat fixed;
    background-size: cover; 
    }

    /* TEXT CONTAINER INSIDE */
    .image_text_section {
        max-width: 250px;
        text-align: center;
    }
        .sec_title {
            max-width: 200px;
            margin: auto;
        }


/* INFORMATION CONTAINER */
.sec_info {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
    /* DIVISIONS */
    .sec_info_box {
        max-width: 800px;
        line-height: 27px;
        text-align: justify;
        padding: 20px;
        border: 1px solid black;
    }
        /* TEXT INSIDE */
        .info_text {}
            .info_text h3, p {
                margin: 8px;
            }
            .right_title {
                text-align: end;
            }








