@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;0,900;1,300;1,600&display=swap');

* {
    font-family: 'Source Sans Pro', sans-serif;
    padding: 0px;
    margin: 0px;
    list-style: none;
    text-decoration: none;
}



.sec_image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    /**/
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    color: white;
}

#first_image {
    background: grey url(images/paralax-fadded.jpg) no-repeat center fixed;
    background-size: cover; 
}

#second_image {
    background: grey url(images/wildlife-mammals-fadded.jpg) no-repeat fixed;
    background-size: cover; 
}

#third_image {
    background: grey url(images/moraine-lake-fadded.jpg) center no-repeat fixed;
    background-size: cover; 
}

.image_text_section {
    max-width: 250px;
    text-align: center;
}

.sec_title {
    max-width: 200px;
    margin: auto;
}

.sec_info_box {
    margin: 42px;
    line-height: 27px;
    max-width: 800px;
    text-align: justify;
}

.sec_info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec_info_box div p, h3 {
    margin: 8px;
}

.par {
    text-align: end;
}







