@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;0,900;1,300;1,600&display=swap');

* {
    font-family: 'Source Sans Pro', sans-serif;
    padding: 0px;
    margin: 0px;
    color: white;
    list-style: none;
    text-decoration: none;
}

body {
    /* Color, image, repeat, position */
    background: grey url(../Images/montains-ice-day-fadded3.jpg) no-repeat left;
    background-size: cover;

    width: 100vw;
    height: 100vh;
}

header, footer, main {
    display: flex;
    align-items: center;
    width: 100vw;
}



/* ----------Header----------- */
header {
    /* Separa o título da nav */
    justify-content: space-around;
    gap: 10%;
    height: 10vh;
}

nav ul {
    display: flex;
    gap: 20px;
}

.nav-links {
    color: white;
    font-weight: 500;
    font-size: 18px;
}


/* ----------Main----------- */
main {
    justify-content: center;
    height: 85vh;
}

section {
    border-radius: 10px;
    text-align: center;
}

#message {
    margin-top: 10px;
    max-width: 500px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.89);
    font-size: 1.25em;
}

h2 {
    font-size: 2.25em;
}

#main_title {
    padding: 25px;
    width: fit-content;
}

/* ----------Footer----------- */
footer {
    justify-content: end;
}

.nav-links:hover, #main-title:hover {
    color: rgb(133, 248, 210);
    transition: 0.5s;
    cursor: pointer;
}

#main-title:hover {
    font-size: 2.375em;
    
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0.24);
}

#footer-container {
    margin: 20px 15px 0px 0px;
}

#my-name {
    font-weight: 500;
    color: rgb(121, 241, 201);
}

#icon {
    display: none;
}


@media screen and (min-width: 320px) and (max-width: 480px) {
    #icon {
        display: block;
    }

    #itens {
        display: none;
    }

    section {
        text-align: center;
    }

    #message {
        padding: 0px 20px;
        font-size: 1.125m;
    }
}
