#first_image {
    background: white url(../images/responsive/First-Image-Responsive/1024_x_1080.jpg) no-repeat center fixed;
    background-size: cover; 
    }
    #second_image {
    background: white url(../images/responsive/Second-Image-Responsive/1024_x_1080.jpg) no-repeat center fixed;
    background-size: cover; 
    }
    #third_image {
    background: white url(../images/responsive/Third-Image-Responsive/1024_x_1080.jpg) center no-repeat fixed;
    background-size: cover; 
    }

    /* INFORMATION CONTAINER */
.sec_info {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 20px 22px;
}
    /* DIVISIONS */
    .sec_info_box {
        max-width: 500px;
        padding: 10px;
        line-height: 27px;
        text-align: justify;
    }

    h3 {
        text-align: center;
    }