#first_image {
    background: white url(../images/responsive/First-Image-Responsive/768_x_1080.jpg) no-repeat center fixed;
    background-size: cover; 
    }
    #second_image {
    background: white url(../images/responsive/Second-Image-Responsive/768_x_1080.jpg) no-repeat center fixed;
    background-size: cover; 
    }
    #third_image {
    background: white url(../images/responsive/Third-Image-Responsive/768_x_1080.jpg) center no-repeat fixed;
    background-size: cover; 
    }