@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;0,900;1,300;1,600&display=swap');

* {
    font-family: 'Source Sans Pro', sans-serif;
    padding: 0px;
    margin: 0px;
    color: white;
    list-style: none;
    text-decoration: none;
}

body {
    /* Color, image, repeat, position */
    background: grey url(../LandingPage/Images/original/original\ image\ fadded.jpg) no-repeat center;
    background-size: cover;
    /*Abrange toda a tela*/
    width: 100vw;
    height: 100vh;
}

header, footer, main {
    display: flex;
    align-items: center;
    width: 100vw;
}


/* ----------Header----------- */
header {
    /* Separa o título da nav */
    justify-content: space-around;
    gap: 20px;
    height: 12vh;
}

    ul {
        display: flex;
        gap: 20px;
    }

        .nav-links {
            font-weight: 500;
            font-size: 18px;
        }


/* ----------Main----------- */
main {
    justify-content: center;
    height: 80vh;
}

    section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

        #main_message {
            max-width: 500px;
            text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.705);
            font-size: 1.25em;
        }
        #main_title {
            font-size: 2.25em;
            width: fit-content;
            padding: 20px 0px;
            border-radius: 10px;
            animation: main_title 5.5s ease-in-out 5s infinite;
        }
        @keyframes main_title {
            0% {
                background-color: rgba(0, 0, 0, 0.080);
                font-size: 36px;
            }

            50% {
                background-color: rgba(0, 0, 0, 0.100);
                font-size: 37px
            }

            100% {
                background-color: rgba(0, 0, 0, 0.080);
                font-size: 36px;                
            }
        }
        #main_title:hover {
            font-size: 2.35em;
            color: rgb(180, 179, 179);
            background-color: rgba(0, 0, 0, 0.212);
            border-radius: 20px;
            transition: 0.6s;
        }

/* ----------Footer----------- */
footer {
    justify-content: end;
    height: 8vh;
}

.nav-links:hover {
    color: rgb(180, 179, 179);
    transition: 0.5s;
    cursor: pointer;
}


#footer-container {
    margin: 20px 15px 0px 0px;
}

#my-name {
    font-weight: 500;
}

#my_name:hover {
    color: rgb(180, 179, 179);
    transition: 0.55s;
}

#icon {
    display: none;
}





@media screen and (min-width: 320px) and (max-width: 480px) {

    body {
            background:gray url(../LandingPage/Images/resized/320_x_900.jpg) no-repeat center;
    }

    #icon {
        display: block;
    }

    #itens {
        display: none;
    }

    section {
        text-align: center;
        margin: 15px;
    }

    #title_header {
        font-size: 1.4em;
    }

    #main_message {
        max-width: 300px;
        font-size: 1.065em;
    }

    #main_title {
        font-size: 1.7em;
        padding: 20px;
    }

    @keyframes main_title {
        0% {
            background-color: rgba(0, 0, 0, 0.080);
            padding: 20px 0px;
            font-size: 1.7em;
        }

        50% {
            background-color: rgba(0, 0, 0, 0.010);
            padding: 23px 0px;
            font-size: 1.75em;
        }

        100% {
            background-color: rgba(0, 0, 0, 0.080);
            padding: 26px 0px;
            font-size: 1.7em;                
        }
    }

    #main_title:hover {
        font-size: 1.5em;
        
        transition: 0.5s;
        background-color: rgba(0, 0, 0, 0.137);
    }
}

/* Mobile S */
@media screen and (min-width: 320px) and (max-width: 375px) {
    body {
        background: grey url(../LandingPage/Images/resized/375_x_900.jpg) no-repeat center;
    }

    #main-title {
        font-size: 1.6em;
    }

    #message {
        margin: 0px 15px;
    }
}

/* Mobile M */
@media screen and (min-width: 375px) and (max-width: 425px) {
    body {
        background: grey url(../LandingPage/Images/resized/425_x_900.jpg) no-repeat center;
    }
}

/* Mobile L */
@media screen and (min-width: 425px) and (max-width: 768px) {
    body {
        background: grey url(../LandingPage/Images/resized/768_x_1080.jpg) no-repeat center;
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background: grey url(../LandingPage/Images/resized/992_x_1080.jpg) no-repeat center;
    }
}

/* Laptop S */
@media screen and (min-width: 992px) and (max-width: 1024px) {
    body {
        background: grey url(../LandingPage/Images/resized/1024_x_1080.jpg) no-repeat center;
    }
}

/* Laptop M */
@media screen and (min-width: 1024px) and (max-width: 1600px) {
    body {
        background: grey url(../LandingPage/Images/resized/1600_x_1080.jpg) no-repeat center;
    }
}

/* Laptop L */
@media screen and (min-width: 1600px) and (max-width: 1920px) {
    body {
        background: grey url(../LandingPage/Images/resized/1920_x_1080.jpg) no-repeat center;
    }
}

/* Ultrawide */
@media screen and (min-width: 1920px) and (max-width: 2560px) {
    body {
        background: grey url(../LandingPage/Images/resized/2560_x_1080.jpg) no-repeat center;
    }
}

/* Large Ultrawide */
@media screen and (min-width: 2560px) and (max-width: 3840px) {
    body {
        background: grey url(../LandingPage/Images/resized/3840_x_2160.jpg) no-repeat center;
    }
}

/* Ultralarge displays are default */